{
  "env": {
    "browser": true,
    "es2021": true,
    "amd":  true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "rules": {
    "react/no-unknown-property": ["error", { "ignore": ["index", "js", "jsx"] }],
    "prettier/prettier": ["error", { "endOfLine": "auto" }] 
  }
}